@import '../../index.scss';

.destinationBackground {
    background: $darkBlue url('../../assets/images/destination/background-destination-desktop.jpg') no-repeat right top;
    background-size: cover;
    min-height: 100vh;
}

.destinationNavBar {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 2.125rem;
    .navText {
        color: $accentBlue;
    }
}

.destinationInfoPanel {
    position: absolute;
    margin-top: 19.375rem;
    opacity: 0;
}
