@import '../../index.scss';

.technologyBackground {
    background: $darkBlue url('../../assets/images/technology/background-technology-desktop.jpg') no-repeat right top;
    background-size: cover;
    min-height: 100vh;
}
