//colours
$darkBlue: #0b0d17;
$accentBlue: #d0d6f9;
$white: #ffffff;

$mainTextColour: $white;
$accentTextColour: $accentBlue;

//font sizes
$fontSize-300: 0.875rem;
$fontSize-400: 1rem;
$fontSize-500: 1.125rem;
$fontSize-600: 1.75rem;
$fontSize-700: 2rem;
$fontSize-800: 3.5rem;
$fontSize-900: 6.25rem;
$fontSize-1000: 9.375rem;

//-------------------RESET-------------------//

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

//-------------------RESET-------------------//

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    background-color: $darkBlue;
    color: $mainTextColour;
    font-weight: 400;
}

body {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: $fontSize-1000;
    font-family: 'Bellefair';
    font-weight: 400;
    color: $white;
}

h2 {
    font-size: $fontSize-900;
    font-family: 'Bellefair';
    font-weight: 400;
    color: $white;
}

h3 {
    font-size: $fontSize-800;
    font-family: 'Bellefair';
    font-weight: 400;
    color: $white;
}

h4 {
    font-size: $fontSize-700;
    font-family: 'Bellefair';
    font-weight: 400;
    color: $white;
}

h5 {
    font-size: $fontSize-600;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    color: $accentBlue;
    letter-spacing: 4.75px;
}

p {
    font-size: $fontSize-500;
    font-family: 'Barlow';
    font-weight: 400;
    color: $white;
    line-height: 2rem;
}

p.navText {
    font-size: $fontSize-400;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    color: $white;
    letter-spacing: 2.7px;
}

p.subHeadingOne {
    font-size: $fontSize-600;
    font-family: 'Bellefair';
    font-weight: 400;
    color: $white;
}

p.subHeadingTwo {
    font-size: $fontSize-300;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    letter-spacing: 2.35px;
}

.halfDiv {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
}
